.container {
  width: 700px;
  margin: 200px auto;

  background-color: #000;
}

.tabs {
  display: flex;
  flex-direction: row;

  width: 600px;
  margin: 0 auto;

  .active {
    background-color: #fff;
  }
  &__item {
    background-color: #ccc;
    padding: 10px 40px;
    margin: 20px auto;

    &:hover {
      cursor: pointer;
    }
  }
}

.content {
  h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  padding-bottom: 50px;
  .active {
    display: block;
  }
  &__item {
    width: 600px;
    padding: 20px 20px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;

    display: none;
  }
}
